@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Add these classes to your Tailwind CSS stylesheet */
.quotation-marked {
  quotes: "\201C""\201D"; /* Unicode for left and right double quotation marks */
  position: relative;
}

.quotation-marked::before,
.quotation-marked::after {
  content: open-quote;
  font-size: 10rem; /* Adjust the font size as needed */
  color: #3498db; /* Blue color code */
  /* height: 40px; */
  /* display: inline-flex; */
  /* overflow: hidden; */
  /* position: absolute; */
  height: 0;
  position: absolute;
}

.quotation-marked::before {
}

.quotation-marked::after {
  content: close-quote;
  margin-left: 0.1em; /* Adjust the margin as needed */
}

blockquote {
  font-size: 1.5em;
  line-height: 1.5em;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: #1649eb;
  font-size: 10em;
  top: 0.1em;
  position: relative;
}
blockquote:before {
  margin-right: 20px;
}
blockquote:after {
  top: 0.45em;
  margin-left: 20px;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Define the scrollbar track and thumb styles */
.nav::-webkit-scrollbar {
  height: 4px; /* Set the width of the scrollbar */
}

.nav::-webkit-scrollbar-track {
  background: #cccccc; /* Track color */
  border-radius: 1px;
}

.nav::-webkit-scrollbar-thumb {
  background: #999999; /* Thumb color */
  border-radius: 1px; /* Adjust the border radius to round the thumb */
}

/* Change thumb color on hover */
.nav::-webkit-scrollbar-thumb:hover {
  background: #818181;
}
